RewriteEngine on

	# This htaccess is for redirecting to the public folder
	# It is not used if the document root is pointing to the "public" folder.
	# You should not need to do any changes here


# Map all requests to the public subfolder
# ----------------------------------------
RewriteCond %{REQUEST_URI} !^public/
RewriteRule ^(.*)$ public/$1?morrow_basehref_depth=1 [QSA]
