<style>
input.error { background: #fee; }
</style>

<?php
\Morrow\Form::$error_class = 'error';
$form->setName('testform');
?>

<form action="~~:raw($page.path.absolute)~" method="post" enctype="multipart/form-data">
	~~$form->label('salutation', 'Anrede')~
	~~$form->select('salutation[]', :raw($salutations), array('multiple' => 'multiple'))~
	~~$form->error('salutation')~
	<br />

	~~$form->label('text', 'Text')~
	~~$form->input('text')~
	~~$form->error('text')~
	<br />

	~~$form->label('username', 'Username')~
	~~$form->text('username')~
	~~$form->error('username')~
	<br />

	~~$form->label('file', 'Datei-Upload')~
	~~$form->file('file')~
	~~$form->error('file')~
	<br />

	Wähle:
	~~$form->checkbox('multi[0]', 'vater')~
	~~$form->label('multi[0]', 'Vater')~
	~~$form->checkbox('multi[1]', 'mutter')~
	~~$form->label('multi[1]', 'Mutter')~
	~~$form->error('multi')~
	<br />

	~~$form->checkbox('simplecheckbox', 'vater')~
	~~$form->label('simplecheckbox', 'Vater')~
	<br />

	~~$form->label('date', 'Datum')~
	~~$form->text('date')~
	<br />

	<input type="submit" name="sent" value="Submit" />
</form>
