body { font: normal 13px/18px Cambria,Arial,sans-serif; background: #f3f3f3; color: #666; margin: 0; padding: 0; }

header { width: 760px; margin: 100px auto 0; background: #666; height: 30px; }
header h1 { display: inline-block; padding: 0 5px 0 0; font: normal 40px/30px Cambria,Arial,sans-serif; color: #666; background: #f3f3f3; }
section { width: 760px; margin: 20px auto; }
h2 { color: #333; font: normal 24px/24px 'Cinzel',serif; text-align: left; }
a { color: #69f; text-decoration: none; }
a:hover { color: #36f; }
p { margin: 20px 0; }
strong { font-weight: bold; }
em { font-style: italic; }
code { background: #f3f3f3; font-family: monospace; padding: 0 5px; }
