<!doctype html>

<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9">           <![endif]-->
<!--[if gt IE 9]>  <html class="ie">                    <![endif]-->
<!--[if !IE]><!--> <html>                               <!--<![endif]-->
<head>
	<base href="~~:raw($page.base_href)~" />
	<meta charset="~~:raw($page.charset)~" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="/favicon.ico">

	<meta name="viewport" content="width=device-width" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<title>MorrowTwo 3 Framework is ready.</title>
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/default.css" />
</head>
<body>

<div id="canvas">
	~:block('body')~
	~:endblock('body')~
</div>

</body>
</html>
