<!doctype html>

<html>
<head>
	<base href="~~:raw($page.base_href)~" />
	<meta charset="~~:raw($page.charset)~" />

	<title>Morrow PHP Framework</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">

			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Morrow PHP Framework</a>
				</div>
			</nav>

		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			~:block('sidebar')~
			~:endblock()~
		</div>
		
		<div id="content" class="col-lg-8">
			~:block('body')~
			~:endblock()~
		</div>
	</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="javascript/default.js"></script>

</body>
</html>
