~:extend('_Base')~

~:block('body')~
	<header>
		<h1>
			MorrowTwo Framework.
		</h1>
	</header>
	
	<section>
		<p>
			<a href="~~:url('test/')~">Test-Link</a>
		</p>

		<p>
			<em>Well done. You have properly installed the MorrowTwo Framework. Wasn't that difficult, eh?</em><br />
			This is the default home page of the <code>main</code> project.
		</p>
		
		<p>		
			Now that you're up and running, it's time to start creating! Here are some links to help you get started: 
		</p>
			
		<ul>
			<li>
				<strong>Official website:</strong> <a href="http://code.google.com/p/morrowtwo/" target="_blank">http://code.google.com/p/morrowtwo/</a>
			</li>
			<li>
				<strong>Documentation:</strong> <a href="http://code.google.com/p/morrowtwo/wiki/Homepage?tm=6" target="_blank">http://code.google.com/p/morrowtwo/wiki/Homepage?tm=6</a>
			</li>
		</ul>
	</section>
~:endblock('body')~
